{% extends 'blog/base.html' %}

{% block content %}
        <div class="post">
            {% if post.published_date %}
            <div class="data">opublikowany: {{ post.published_date }}</div>
            {% endif %}
            <h2> {{ post.title }} </h2>
            <br>
            <br>
tu sobie wrzucam tekst - static
            <br>
            <br>
            <br>

<!--
-->

            <img class="img" src="{{ post.image.url }}" alt="Obrazek" width="250px">
            <br>
            <br>
            sztywny
            <br>
            <br>
            <br>
            <br>

           <img class="img" src="{{ post.dUrl }}" alt="Obrazek" width="250px">

            <br>

            <em>{{ post.text|linebreaksbr  }}</em>
            <div class="zeroFont"> to detal! PK {{ post.pk }}</div>

        </div>

{% endblock %}

