{% load static %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Blog do nauki Pth / Djg </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/blog.css'%}">

    <link rel="stylesheet" href="C:\Projekty\Kursy\5_Django\materialy_do_kursu\djangoblog_dev\mydjango\Scripts\blog\static\css\blog.css">


</head>
<body>
<div>
    <h1>Jezus jest Panem! 2025 dla Jezusa!</h1>
    <h1>Folder {% static 'css/blog.css' %}</h1>

</div>
{% for post in posts %}
<div>
    <p>opublikowany: {{ post.published_date }}</p>
    <h2><a href="#"> {{ post.title }}</a></h2>
    <em>{{ post.text|linebreaksbr  }}</em>


</div>
{% endfor %}

</body>
</html>